
@{
    ViewBag.Title = "AdministrarPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plan</h2>

@*-- AGREGAR --*@

<div class="well">
    <div class="form-horizontal">
        <h4>Utilice el formulario para agregar o modificar nuevos planes</h4>
        <hr />

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nombre Plan</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="txtNombrePlan" placeholder="escriba aquí el nombre del plan">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" id="guardar" class="btn btn-success" />
            </div>
        </div>
    </div>


    <p style="text-align:right"><input type="button" class="btn btn-success AgregarRepuestos" id="AgregarRepuestos" value="Agregar Repuestos" /></p>
    <div class="VerPlanes" id="VerPlanes"> PLANES</div>
</div>

@*--MODAL MODIFICAR --*@

<div class="modal fade " id="mdlModificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Plan</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="NombrePlan" class="col-sm-2 control-label">Nombre Plan</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtNuevoNombre" placeholder="Nuevo Nombre" autocomplete="off">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success GuardarNombre" id="GuardarNombre" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>


@*--MODAL ELIMINAR --*@

<div class="modal fade " id="mdlEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Plan</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="NombrePlan" class="col-sm-2 control-label">Nombre Plan</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control " disabled id="txtEliminarNombre" placeholder=" " autocomplete="off">
                        </div>
                        <div class="col-sm-10">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger EliminarPlans" id="EliminarPlans" data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var idPlan = 0;

            cargarPlanes();

            // GUARDAR NUEVO PLAN
            $("#guardar").click(function () {
                $.ajax({
                    url: '@Url.Action("GuardarPlanAux", "Plan")',
                    datatype: 'json',
                    type: 'POST',
                    contentType: 'application/json',
                    async: true,
                    data: JSON.stringify({ NombrePlan: $("#txtNombrePlan").val() }), // o sin stringify para datos primitivos  {rut : item.rut },
                    success: function (data) {
                        data = eval(data);
                        if (data.Resultado == "Guardado") {
                            $.notificar({ text: 'Guardado', title: 'Exito', type: 'success' });
                            cargarPlanes();
                        }
                        else {
                            $.notificar({ text: 'no se pudo guardar', title: 'ups', type: 'danger' });
                        }
                        //$("#VerReporte").jsonTabla({ tabla: data });
                    }
                });
            });
        });



        $(document).on('click', ".AgregarRepuestos", function () {
            idactividad = $(this).attr('idactividad');
            location.href = '@Url.Action("Index", "AdministrarRepuestos")' + '/index/' + idactividad;
        });

        //CARGAR PLANES

        function cargarPlanes()
        {
            $.ajax({
                url: '@Url.Action("VerPlanesAux", "Plan")',
                datatype: 'json',
                type: 'POST',
                contentType: 'application/json',
               // data: JSON.stringify({Id: $("#Id").val(), Nombre: $("#Nombre").val() }),
                async: true,
                success: function (data) {
                    data = eval(data);
                    $("#VerPlanes").jsonTabla({ tabla: data });
                }
            });
        }

        // MODIFICAR

        $(document).on('click', ".Modificar", function () {
            idplan = $(this).attr('idplan');

            $("#mdlModificar").modal('show');
            var cant = $(this).closest('tr').find("td:eq(1)").html();
            $("#txtNuevoNombre").val(cant);

        });

        $(document).on('click', ".GuardarNombre", function () {
            $.ajax({
                url: '@Url.Action("ModificarPlanAux", "Plan")',
                datatype: 'json',
                type: 'POST',
                contentType: 'application/json',
                async: true,
                data: JSON.stringify({ Id: idplan , Nombre: $("#txtNuevoNombre").val() }), // o sin stringify para datos primitivos  {rut : item.rut },
                success: function (data) {
                    data = eval(data);
                    if (data.Resultado == "Guardado") {
                        $.notificar({ text: 'Plan modificado', title: 'Todo listo', type: 'success' });
                        cargarPlanes();
                    }
                    else {
                        $.notificar({ text: 'No se puede modificar.', title: 'Todo listo', type: 'danger' });
                    }


                }
            });

        });

        // ELIMINAR

        $(document).on('click', ".Eliminar", function () {
            idplan = $(this).attr('idplan');

            $("#mdlEliminar").modal('show');
            var cant = $(this).closest('tr').find("td:eq(1)").html();
            $("#txtEliminarNombre").val(cant);

        });


        $(document).on('click', ".EliminarPlans", function () {
            $.ajax({
                url: '@Url.Action("EliminarPlanAux", "Plan")',
                datatype: 'json',
                type: 'POST',
                contentType: 'application/json',
                async: true,
                data: JSON.stringify({ Id: idplan }), // o sin stringify para datos primitivos  {rut : item.rut },
                success: function (data) {
                    data = eval(data);
                    if (data.Resultado == "Guardado") {
                        $.notificar({ text: 'Plan Eliminado', title: 'Todo listo', type: 'success' });
                        cargarPlanes();
                    }
                    else {
                        $.notificar({ text: 'No se puede Eliminar Plan.', title: 'Todo listo', type: 'danger' });
                    }


                }
            });

        });



        // ADMINISTRAR

        $(document).on('click', ".Administrar", function () {
            idPlan = $(this).attr('idPlan');
            location.href = '@Url.Action("PlanPartesAux", "Plan")' + '/' + idPlan;
        });


    </script>
}
